.select__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.625rem;

  gap: 0.5rem;

  width: 5rem;
  height: 1.875rem;

  border-radius: 18px;

  background-color: var(--light-yellow);

  position: relative;
}

.form__container {
  display: none;

  position: absolute;
  
  bottom: -125px;
  left: 0;

  padding: 1rem 0;
}

.select__optionsContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--light-yellow);
  
  border-radius: 4px;
  
  & > input {
    display: none;
  }
}

.select__container:hover > .form__container {
  display: inherit;
  animation: show .5s ease;
}

.select__optionsContainer > label {
  width: 100%;

  border-radius: 2px;
  padding: 1rem;

  &:hover {
    background-color: var(--color-blue);
    transition: .6s ease;

    color: #fff;

    cursor: pointer;
  }
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}