.textarea__container {
  position: relative;

  max-width: 35rem;

  width: 100%;
}

.textarea__container > label {
  position: absolute;
  top: 1.5rem;
  left: 2rem;

  transition: .3s ease;
}

.textarea__container > textarea {
  max-width: 100%;
  
  border-radius: 1.125rem;

  resize: none;

  padding: 1.5rem 2rem;
}

.textarea__container > textarea:focus + label, .textarea__container.filled > label {
  top: .2rem;
  left: 1rem;

  opacity: .5;

  font-size: .8rem;
}