:root {
  --background-color: #fff;

  --font-color-1: #212529;
  --font-color-2: #212529;
  --images-color: #212529;

  --light-yellow: #FBF5DF;
  --color-blue: #1864ab;

  --scroll-color: #212529;
  --links-color: #FBF5DF;
}

:root.dark-mode {
  --background-color: #011222;
  
  --light-yellow: #EBFBEE;
  
  --font-color-2: #DEE2E6;
  --images-color: #F1F3F5;

  --scroll-color: #EBFBEE;
  --links-color: #212529;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;

  transition: background-color 1s ease;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: var(--background-color);

    transition: 1s ease;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    
    border-radius: 8px;

    transition: 1s ease;
  }
}

html {
  overflow-x: hidden;
  width: 100vw;
}