:root {
  --background-color: #fff;

  --font-color-1: #212529;
  --font-color-2: #212529;
  --images-color: #212529;

  --light-yellow: #FBF5DF;
  --color-blue: #1864ab;
}

:root.dark-mode {
  --background-color: #011222;
  
  --font-color-2: #DEE2E6;
  --images-color: #F1F3F5;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}