.technologies__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 100px));
  place-items: center;
  place-content: center;
  justify-items: center;
  justify-content: center;
  
  
  column-gap: 6.5625rem;
  row-gap: 4.4375rem;
}