.card__container {
  display: flex;
  flex-direction: column;

  gap: 2rem;

  max-width: 16.25rem;
  min-height: 15rem;
  padding: 1.8rem 1.5rem;

  border-radius: 1.125rem;
  background-color: #fff;

  box-shadow: 0px 0px 6px 0px #000;
  
  transition: box-shadow .6s cubic-bezier(0.175, 2.885, 0.32, 1.275);
  cursor: pointer;
  
  &:hover {
    box-shadow: 2px 2px 6px 0px #000;
  }
}